<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionTitle</key>
		<string>测试</string>
		<key>contentList</key>
		<array>
			<dict>
				<key>title</key>
				<string>HitTest</string>
				<key>target</key>
				<string>QGGHitTestViewController</string>
				<key>instruction</key>
				<string>ScrollView 嵌套</string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>nestScrollView</string>
				<key>target</key>
				<string>QGGNestPageViewViewController</string>
				<key>instruction</key>
				<string>ScrollView 嵌套</string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>富文本</string>
				<key>target</key>
				<string>QGGRichTextViewController</string>
				<key>instruction</key>
				<string>富文本demo</string>
				<key>isNib</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>测试</string>
				<key>target</key>
				<string>QGGTestViewController</string>
				<key>instruction</key>
				<string>测试本demo跳转</string>
				<key>isNib</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>输入长度控制</string>
				<key>target</key>
				<string>QGGMaxLenTextFieldViewController</string>
				<key>instruction</key>
				<string>TextField输入长度控制，主要针对中文输入法，有拼音输入</string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>仿微信相册</string>
				<key>target</key>
				<string>QGGPhotoLibTestViewController</string>
				<key>instruction</key>
				<string>模仿微信朋友圈选择图片</string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>KeyFrame动画</string>
				<key>target</key>
				<string>QGGAutumnKeyFrameViewController</string>
				<key>instruction</key>
				<string>一叶知秋动画－树叶飘落Label过度</string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>Layer动画</string>
				<key>target</key>
				<string>QGGAnimationsViewController</string>
				<key>instruction</key>
				<string>一些CALayer做的动画</string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>QQ 拖拽动画</string>
				<key>target</key>
				<string>QGGQQDragViewController</string>
				<key>instruction</key>
				<string>模仿QQ 拖拽动画 </string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>TEst</string>
				<key>target</key>
				<string>QGGScrollerTestViewController</string>
				<key>instruction</key>
				<string>TEst</string>
				<key>isNib</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>时光网shapeLayer</string>
				<key>target</key>
				<string>QGGTimeImitationControllerViewController</string>
				<key>instruction</key>
				<string>仿时光网shapeLayer</string>
				<key>isNib</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>隐藏bar测试</string>
				<key>target</key>
				<string>QGGFirsetHideBarViewController</string>
				<key>instruction</key>
				<string>测试系统bug</string>
				<key>isNib</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
